* {
    box-sizing: border-box;
}

h1 {
    color:#FE2713;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    color:#340933;
}

body {
    background-color: #357D99;
}

.portal {
    margin: auto;
    text-align: center;
    
}

a.link {
    color: #352309;
    text-decoration: none;
}

a:visited {
    color:#352309
}

a:hover {
    color:#FE2713
}

/* Muotoilu asetukset puhelimille */

.container {
    color: #FE2713;
    margin:auto;
    
}

.content {
    margin: auto;
}

.content2 img {
    width: 80%;
}

.container2 {
    color: #FE2713;
}

/* Muotoilu asetukset tableteille/pienille ruuduille */

@media only screen and (min-width: 600px) {


    .container {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        color: #FE2713;
    }

    .content {
        margin: auto;
        align-content: center;
        
    }

    .content2 img {
        width: 60%;
        display: block;
        align-content: center;
        margin: auto;
        
    }

    .container2 {
        text-align: center;
    }
    


}

/* Muotoilu asetukset isolle ruudulle */

@media only screen and (min-width: 800px) {

.container {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    color: #FE2713;
}

.content {
    margin: auto;
    align-content: center;

}

.container2 {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    color: #FE2713;
}

.content2 img {
    width: 80%;
    display: block;
    align-content: center;
    margin: auto;

}





















}