* {
    box-sizing: border-box;
}

body {
    background-color: #357D99;
}

h1 {
    color:#FE2713;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color:#352309;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Muotoilu asetukset puhelimille */

.container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    margin: auto;
    text-align: center;
    
}
.content img {
    width: 30%;
    display: block;
    align-content: center;
    margin: auto;
}

a.link {
    color: #352309;
    text-decoration: none;
}

a:visited {
    color:#352309;
}

a:hover {
    color:#FE2713;
}
    
/* Muotoilu asetukset tableteille/pienille ruuduille */

@media only screen and (min-width: 600px) {

    .container {
        display: flex;
        flex-wrap: wrap;
    }
    

    .content {
        margin: auto;
        text-align: center;
        max-width: 50%;
    }

    .content img {
        width: 30%;
        display: block;
        align-content: center;
        margin: auto;

    }
}

/* Muotoilu asetukset isolle ruudulle */

@media only screen and (min-width: 800px) {


    .container {
        display: flex;
        flex-wrap: nowrap;
       
    }
    
    .content {
        max-width: 20%;
        margin:auto;
        text-align: center;
    }
    
    .content img {
        width: 50%;
        display: block;
        align-content: center;
        margin: auto;
    }



}